<!-- BEGIN: contenido -->
<div class="normal">
	<h1>Retransmitir Resultados de An&aacute;lisis</h1>
	<br/><br/>
	<!-- BEGIN: mensaje_default -->
	<p style="text-align:center;">
		Esta por solicitar la b&uacute;squeda de los resultados de las solicitudes..<br/>
		De encontrar informaci&oacute;n de los resultados, este proceso podr&iacute;a tardar algunos minutos!!<br/>
		<br/>
		&iquest; Esta seguro de continuar con la operaci&oacute;n ?
	</p>
	<div class="botones">
		<input  id="btnok" name="btnok" value="Retransmitir" type="button" class="boton" onclick="location='{pagina_principal}?op={opcion_sistema}&amp;accion=retrans'"/>&nbsp;&nbsp;
		<input  id="btncancel" name="btncancel" value="Cancelar" type="button" class="boton" onclick="location='{pagina_principal}'"/>
	</div>
	<!-- END: mensaje_default -->
	
	<!-- BEGIN: mensaje_listo -->
	<p style="text-align:center;">
		Se ha realizado la b&uacute;squeda de resultados de las solicitudes satisfactoriamente!!<br/>
		Debe esperar varios minutos si lo desea realizar nuevamente..
	</p>
	<!-- END: mensaje_listo -->
</div>
<!-- END: contenido -->