<!-- BEGIN: contenido -->
<div class="normal">
	<h1>Transportistas</h1>
	<div id="message" class="message" >{mensaje}</div>
	<br />
	<!-- BEGIN: listado -->
	<div id="enlaces_accion">
		<!-- BEGIN: agregar -->
		<span>[ <a class="enlaces" href="{pagina_principal}?op={opcion_sistema}&amp;accion=add">Ingresar Transportista</a> ]</span>
		<!-- END: agregar -->
		<span>[ <a class="enlaces" href="{pagina_principal}?op={opcion_sistema}&amp;accion=buscar">Buscar Transportista</a> ]</span>
	</div>
	<table id="tb1" summary="Sumario de la tabla" style="width: 100%;" class="table_list" cellpadding="1" cellspacing="1">
		<thead>
			<tr>
				<th class="title header" scope="col" width="20">&nbsp;</th>
				<!-- BEGIN: eliminar_01 -->
				<th class="title header" scope="col" width="20">&nbsp;</th>
				<!-- END: eliminar_01 -->
				<th class="title header" scope="col" width="250">Transportista</th>
				<th class="title header" scope="col" width="100">RIF</th>
				<th class="title header" scope="col">Tel&eacute;fono</th>
			</tr>
		</thead>
		<tfoot></tfoot>
		<tbody>
			<!-- BEGIN: lista -->
			<tr class="{estilo_fila}">
				<td scope="row" align="center">
					<a href="{pagina_principal}?op={opcion_sistema}&amp;accion=mod&amp;id={id_Empresa_Transporte}" title="Ver / Modificar"><img src="./images/lapiz.gif" border="0"/></a>
				</td>
				<!-- BEGIN: eliminar_02 -->
				<td scope="row" align="center">
					<a href="{pagina_principal}?op={opcion_sistema}&amp;accion=del&amp;id={id_Empresa_Transporte}" title="Eliminar"><img src="./images/delete.png" border="0"/></a>
				</td>
				<!-- END: eliminar_02 -->
				<td>&nbsp;{Nombre_Empresa}</td>
				<td align="center">{Rif}</td>
				<td align="center">{Telefono_Oficina}</td>
			</tr>
			<!-- END: lista -->
			<!-- BEGIN: no_lista -->
			<tr class="even">
				<td align="center" colspan="5" class="odden"><br />{sin_listado}<br />&nbsp;</td>
			</tr>
			<!-- END: no_lista -->
		</tbody>
		<caption>Listado de Transportistas</caption>
	</table>
	<br />
	<div class="paginas">{paginacion}</div>
	<!-- END: listado -->
	<!-- BEGIN: busqueda -->
	<div id="formularios">
		<br />
		<form id="frm1" method="get" enctype="multipart/form-data" action="{pagina_principal}" xml:lang="es" lang="es">
			<input style="border: hidden" type="hidden" name="op" id="idop" value="{opcion_sistema}"/>
			<fieldset>
				<legend>Busqueda de Transportistas</legend>
				<table align="center" border="0" cellpadding="2" cellspacing="0" width="100%">
					<tr><td colspan="2">&nbsp;</td></tr>
					<tr><td colspan="2"></td></tr>
					<tr>
						<td class="tag" width="200">Por  Nombre :</td>
						<td><input id="nombre" name="nombre" size="30" maxlength="45" type="text" /></td>
					</tr>
					<tr><td colspan="2"></td></tr>
					<tr>
						<td class="tag">Por RIF :</td>
						<td><input id="rif" name="rif" size="30" maxlength="8" type="text" {rif_requerido} /></td>
					</tr>
					<tr><td colspan="2">&nbsp;</td></tr>
				</table>
			</fieldset>
			<div class="botones">
				<input  id="btnok" name="btnentrar" value="Buscar" type="submit" class="boton"/>&nbsp;&nbsp;&nbsp;
				<input  id="btncancel" name="btncancelar" value="Cancelar" type="button" class="boton" onclick="location='{ruta_regreso}'"/>
			</div>
		</form>			 
	</div>
	<!-- END: busqueda -->
	<!-- BEGIN: eliminacion -->
	<div id="formularios">
		<form id="frm2" method="post" enctype="multipart/form-data" action="{pagina_principal}" xml:lang="es" lang="es">
			<input style="border: hidden" type="hidden" name="op" id="idop" value="{opcion_sistema}"/>
			<input style="border: hidden" type="hidden" name="accion" id="idaccion" value="del"/>
			<input style="border: hidden" type="hidden" name="referencia" id="idreferencia" value="{id_registro}"/>
			<fieldset>
				<legend>Eliminar Transportistas</legend>
				<p style="text-align:center;">
					<br />
					<b>Advertencia</b>: Esta por eliminar la informaci&oacute;n de un transportista, debe tener cuidado...
					<br /><br /><br />
					&iquest; Esta seguro de eliminar el transportista seleccionado ?
					<br /><br />
					<input  id="btnok" name="btneliminar" value="Eliminar" type="submit" class="boton"/>&nbsp;&nbsp;&nbsp;
					<input  id="btncancel" name="btncancelar" value="Cancelar" type="button" class="boton" onclick="location='{ruta_regreso}'"/>
					<br />
					&nbsp;
				</p>
			</fieldset>
		</form>			 
	</div>
	<!-- END: eliminacion -->
	<!-- BEGIN: formulario -->
	<div id="formularios">
		<form name="frm1" id="frm1" method="post" enctype="multipart/form-data" action="{pagina_principal}" xml:lang="es" lang="es">
			<input style="border: hidden" type="hidden" name="op" id="idop" value="{opcion_sistema}"/>
			<input style="border: hidden" type="hidden" name="accion" id="idaccion" value="{tipo_accion}"/>
			<!-- BEGIN: identificador -->
			<input style="border: hidden" type="hidden" name="referencia" id="idreferencia" value="{id_Empresa_Transporte}"/>
			<!-- END: identificador -->
			<fieldset>
				<legend>Formulario de Datos del Transportista:</legend>
				<table align="center" border="0" cellpadding="2" cellspacing="0" width="100%">
					<tr><td colspan="2" class="requerido" style="text-align:right;">(*)Campos Requeridos&nbsp;</td></tr>
					<tr><td colspan="2">&nbsp;</td></tr>
					<tr>
						<td class="tag" width="230"><span class="requerido">*</span> Nombre de la Empresa:</td>
						<td><input id="txt_name" name="txt_name" size="30" maxlength="70" type="text" value="{Nombre_Empresa}" {campo_requerido}/></td>
					</tr>
					<tr><td colspan="2"></td></tr>
					<tr>
						<td class="tag"><span class="requerido">*</span> Rif:</td>
						<td><input id="txt_rif" name="txt_rif" size="30" maxlength="12" type="text" value="{Rif}" {rif_requerido}/></td>
					</tr>
					<tr><td colspan="2"></td></tr>
					<tr>
						<td class="tag"><span class="requerido">*</span> Tel&eacute;fono Oficina:</td>
						<td><input id="txt_telf_ofc" name="txt_telf_ofc" size="30" maxlength="20" type="text" value="{Telefono_Oficina}" {campo_requerido}/></td>
					</tr>
					<tr><td colspan="2"></td></tr>
					<tr>
						<td class="tag"> Tel&eacute;fono Celular:</td>
						<td><input id="txt_telf_cel" name="txt_telf_cel" size="30" maxlength="20" type="text" value="{Telefono_Celular}" /></td>
					</tr>
					<tr><td colspan="2"></td></tr>
					<tr>
						<td class="tag"> Email:</td>
						<td><input id="txt_email" name="txt_email" size="30" maxlength="75" type="text" value="{Email}" {email_requerido}/></td>
					</tr>
					<tr><td colspan="2"></td></tr>
					<tr>
						<td class="tag"> Fax:</td>
						<td><input id="txt_fax" name="txt_fax" size="30" maxlength="20" type="text" value="{Fax}" /></td>
					</tr>
					<tr><td colspan="2"></td></tr>
					<tr>
						<td class="tag"><span class="requerido">*</span> Persona de Contacto:</td>
						<td>
							<input id="txt_contacto" name="txt_contacto" size="30" maxlength="50" type="text" value="{Persona_Contacto}" {campo_requerido}/>
						</td>
					</tr>
					<tr><td colspan="2">&nbsp;</td></tr>
				</table>
			</fieldset>
			<div class="botones">
				<!-- BEGIN: boton -->
				<input  id="btnok" name="btnentrar" value="{tag_boton}" type="submit" class="boton"/>&nbsp;&nbsp;&nbsp;
				<!-- END: boton -->
				<input  id="btncancel" name="btncancelar" value="Cancelar" type="button" class="boton" onclick="location='{ruta_regreso}'"/>
			</div>
		</form>			 
	</div>
	<!-- END: formulario -->
</div>
<!-- END: contenido -->